@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?72482717a5c513716aa5a5ea7f01210c") format("truetype"),
url("./flaticon.woff?72482717a5c513716aa5a5ea7f01210c") format("woff"),
url("./flaticon.woff2?72482717a5c513716aa5a5ea7f01210c") format("woff2"),
url("./flaticon.eot?72482717a5c513716aa5a5ea7f01210c#iefix") format("embedded-opentype"),
url("./flaticon.svg?72482717a5c513716aa5a5ea7f01210c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-edit:before {
    content: "\f101";
}
.flaticon-menu:before {
    content: "\f102";
}
.flaticon-customer:before {
    content: "\f103";
}
.flaticon-box:before {
    content: "\f104";
}
